.main{
    padding: 10px;
}
.model{
    margin: 3rem auto;
    width: 100%;
    max-width: 50rem;
    border-radius: 6px;
    background-color:whitesmoke;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    
   
}
.button{
    margin: 0px;
    position: relative;
    float: right;
    height: 35px;
    width: 45px;
    background: rgb(255, 53, 53);
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    
}